<div>
  <!-- Accessing a variable -->
  <h1>{{ title }}</h1>
  <hr />
  <ul>
    <!-- looping over the goals array and embedding each goal to a ul>li -->
    <div *ngFor="let goal of goals; let i = index">
      <li appStrikethrough>{{ goal.name|uppercase }} due on {{ goal.completeDate|date|uppercase }}.</li>
      <button (click)="toggleDetails(i)">Toggle Details</button>
      <app-goal-detail
        *ngIf="goal.showDescription"
        [goal]="goal"
        (isComplete)="completeGoal($event, i)"
      ></app-goal-detail>
    </div>
  </ul>
  <p *ngIf="goals.length > 5">Your goals are too many</p>
</div>
